@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0.10, 0.10, 0.10);
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100vh;
    margin: 0;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #302f31;
    border-radius: 16px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
}

.copy-format-div {
    margin: 10px;
}

.copy-format-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c99dc;
    border-radius: 12px;
    border-style: none;
    color: #fff;
    padding: 10px;
    font-family: "Ubuntu Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s, border 0.2s;
}

.copy-format-button:hover {
    background-color: #2d80bc;
}

.copy-format-button span.material-symbols-outlined {
    font-size: 24px;
    margin-right: 8px;
}

.copy-format-button span.text-icon {
    font-size: 16px;
}

.container-header {
    display: block;
    flex-direction: row;
    background-color: #28282a;
    border-radius: 16px;
    padding: 12px;
    margin: 12px;
}

.color-picker {
    background-color: #28282a;
    border-radius: 16px;
    border-style: none;
    width: 100%;
    height: 128px;
    outline: none;
    cursor: pointer;
}

#error-message {
    text-align: center;
    color: red;
}

.input-format-divider label {
    color: #fff;
}

.input-format-divider input {
    background-color: #fff;
    border-radius: 10px;
    border-style: none;
    font-family: "Ubuntu Sans", sans-serif;
    width: 100%;
    height: 32px;
    color: #000;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    transition: background-color 0.2s, border 0.2s;
}

.input-format-divider input:hover {
    background-color: #ccc;
}

.content-assets {
    position: absolute;
    text-align: center;
    bottom: 10px;
    width: 100%;
}

.content-assets a {
    text-decoration: none;
    color: #8a8a8a;
}

.content-assets a:hover {
    text-decoration: underline;
}
